{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * HubSpot Toolbox plugin for Craft CMS 3.x
 *
 * HubSpot Toolbox Settings.twig
 *
 * @author    Venveo
 * @copyright Copyright (c) 2018 Venveo
 * @link      https://venveo.com
 * @package   HubspotToolbox
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("venveo\\hubspottoolbox\\assetbundles\\hubspottoolbox\\HubspotToolboxAsset") %}
<div class="readable">
    <h2>Settings from Config</h2>
    <table class="data fullwidth fixed-layout">
        <tbody>
        <tr>
            <td>Portal ID</td>
            <td>{{ settings.hubspotPortalId }}</td>
        </tr>
        <tr>
            <td>Default App</td>
            <td>{{ settings.defaultApp|default('Not Set') }}</td>
        </tr>
        </tbody>
    </table>

    <h2>HubSpot Apps</h2>

    {% for app in settings.getApps() %}
        <div class="pane">
            <h3>{{ app.appName }}</h3>
            <table class="data fullwidth collapsible">
                <tbody>
                <tr>
                    <td>App ID</td>
                    <td>{{ app.appId }}</td>
                </tr>
                <tr>
                    <td>App Handle</td>
                    <td>{{ app.handle }}</td>
                </tr>
                <tr>
                    <td>Client ID</td>
                    <td>{{ app.clientId }}</td>
                </tr>
                {% set token = app.getToken() %}
                <tr>
                    <td>Access Token</td>
                    <td>{% if token %}{{ token.accessToken|slice(0, 20) }}...{% else %}None{% endif %}</td>

                </tr>
                {% if token %}
                    <tr>
                        <td>Token Expiration</td>
                        <td>{{ token.expires|date('M d, Y h:m:s A') }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="footer">
                <a class="btn" href="{{ app.getLoginURL() }}" target="_blank">Login</a>
            </div>
        </div>
    {% endfor %}
</div>
