{% extends "hubspot-toolbox/forms/_layout" %}
{% set title = "Forms"|t %}
{% set selectedNavItem = 'forms' %}

{% set forms = craft.hubspot.forms %}
{% set content %}
    <div class="tableview">
        <table id="product-criteria" class="data fullwidth collapsible"
               style="table-layout: fixed; width: 100%; overflow: hidden;">
            <thead>
            <th scope="col" style="width: 100px;"><span
                    class="sort-label">{{ "Internal Form ID"|t }}</span></th>
            <th scope="col" style="width: 100px;"><span
                    class="sort-label">{{ "Form Name"|t }}</span></th>
            <th scope="col" style="width: 100px;"><span
                    class="sort-label">{{ "HubSpot Form ID"|t }}</span></th>
            </thead>
            <tbody>
            {% for form in forms %}
                <tr>
                    <td>{{ form.id }}</td>
                    <td><a href="https://app.hubspot.com/forms-two/{{ craft.hubspot.portalId }}/editor-two/{{ form.formId }}/edit/form">{{ form.formName }}</a></td></td>
                    <td>{{ form.formId }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endset %}
