{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
    label: 'Enable Ecommerce Integration',
    name: 'enabled',
    on: feature.enabled,
    first: true,
}) }}

{% namespace 'settings' %}
    {% set fieldInput %}
        <div id="storeSelector"></div>
    {% endset %}
    {{ forms.field({
        label: 'HubSpot Store',
        name: 'storeId',
        errors: feature.getErrors('storeId'),
        instructions: "Select the store referenced in your HubSpot account",
        id: 'storeId',
        required: true
    }, fieldInput) }}
{% endnamespace %}
{% do craft.app.view.registerAssetBundle('venveo\\hubspottoolbox\\assetbundles\\hubspotcp\\HubSpotCpAsset') %}
{% js %}
new Craft.HubSpot.StoreSelector({
    container: '#{{ 'storeSelector'|namespaceInputId('settings') }}',
    stores: {{ stores|json_encode|raw }},
    value: {{ feature.storeId|json_encode|raw }},
    name: {{ 'storeId'|namespaceInputName('settings')|json_encode|raw }}
    });
{% endjs %}